*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


body {
	justify-content: center;
	background-color: #57bd84;
  }
/*
:focus {
    outline: 0;
}*/

.container{
	position: relative;
	margin: auto;
	margin-top: 50px;
	width: 650px;
	height: 600px;
	border: 10px solid #777872;
	border-radius: 10px;
	padding-bottom: 10px;
}

.screen{
	position: relative;
	margin: auto;
	height: 150px;
	background-color: #ffffff;
}

.calculator {
	border-top: 10px solid #777872;

	background-color: #ffffff;
}

.table{
	margin: auto;
}

.numberBtn,
.operators,
.even,
.reset {
		outline: none;
		user-select: none;
		color: #000000;
		font-family: 'Lato', sans-serif;
		font-size: 2.5rem;
		letter-spacing: 0.04rem;
		cursor: pointer;
		width: 4em;
		height: 2.2em;
		border-radius: 7px;
		border: 5px solid #000000;
		background: #ffffff;
		position: relative;
		overflow: hidden;
		transition: background-color 0.5s ease;
}

#display{
	color: #000000;
		font-family: 'Lato', sans-serif;
		font-size: 5rem;
		position: relative;
		float: right;
		padding-top: 25px;
		padding-right: 20px;
		max-width: 630px;

}


.empty{
	background-color: white;
	border: 3px solid white;
}

.numberBtn:hover,
.operators:hover,
.even:hover,
.reset:hover {
	background-color: tomato;
}

.numberBtn:focus,
.operators:focus,
.even:focus,
.reset:focus {
	background-color: #777872;
}