*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body{
	margin:0;
	padding:0;
}
button{
    border: none;
}


*:focus{
    outline: none;
}

.btn{
cursor:pointer;
	position:relative;
	padding:10px 20px;
	background:white;
	font-size:28px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	transition:all 1s;
	margin: 20px;
	color: rgb(98, 96, 96);

}
.btn:after,
.btn:before{
		content:" ";
		width:10px;
		height:10px;
		position:absolute;
		border :0px solid #fff;
		transition:all 1s;
		}
	.btn:after{
		top:-5px;
		left:-5px;
		border-top:2px solid rgb(255, 255, 255);
		border-left:2px solid rgb(255, 255, 255);
	}
	.btn:before{
		bottom:-5px;
		right:-5px;
		border-bottom:2px solid rgb(255, 255, 255);
		border-right:2px solid rgb(255, 255, 255);
	}
	.btn:focus{
		border-top-right-radius:0px;
	border-bottom-left-radius:0px;
		 /* background:rgba(0,0,0,.5); */
        color:black;
    }
        .btn:focus:before,
        .btn:focus:after{
			
			width:100%;
			height:100%;
		    border-color:black;
		}
	
#switchMode{
    margin-left: 15px;
}



.container{
	position: relative;
	margin: auto;
	margin-top: 45px;
	width: 500px;
	height: 700px;
	border-radius: 10px;
	padding-bottom: 10px;
	padding-top: 5px;
	border: 3px solid rgb(98, 96, 96);
}

.screen{
	margin-top: 3px;
	position: relative;
	margin: auto;
	height: 150px;
	background-color: #ffffff;
	border-bottom: 3px solid rgb(98, 96, 96);
	
}

.calculator {
	padding-top: 40px;
	background-color: #ffffff;
}

.table{
	margin: auto;
}

#display{
	color: #000000;
		font-size: 2.3rem;
		position: relative;
		float: right;
		padding-top: 50px;
		padding-right: 30px;
		max-width: 630px;

}


@media screen and (max-width:320px) {
	.container{
		margin-top: 90px;
		zoom: 1.8;}
  }

@media screen and (min-width:321px) and (max-width: 640px){
	.container{
		margin-top: 90px;
		zoom: 1.8;}
	
  }

  @media screen and (min-width: 641px) and (max-width: 800px){
	.container{
		margin-top: 90px;
		zoom: 1.8;}
	
  }

  @media screen and (min-width: 801px) {
	.container{
		margin-top: 80px;
	}
	
  }
